/* work sens font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
/* shred style */
.btn-primary{
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
}
/* header style */
header{
    background-color:  rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-title{
    color:  #131313;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
nav a{
    text-decoration: none;
    color:  #424242;
}
/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color:  #131313;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;

}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.banner img{
    margin-top: 20px;
    width: 100%;
}
/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* team style */
.team-container{
    display: flex;
    align-items: center;
}
.team-img-cotainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-content{
    padding-right: 70px;
    padding-left: 70px;
}
.team-content-title{
    font-size: 3rem;
}
.quick-list{
    color:  #727272;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.of-our{
    color:  #131313;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.features{
    color: #FF900E;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* fact styles */
.fact-title{
    color: #131313;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fact-description{
    color:  #727272;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.fact-card-container{
    display: flex;
    justify-content: space-around;

}
.fact-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;


}
.fact-card-container .card-title{
    color: #727272;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5px;
}
.fact-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* sponsors style */
.sponsors-container{
    text-align: center;
}
.sponsors-title{
    color: #131313;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sponsors-description{
    color:  #727272;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    padding-top: 20px;
}
.sponsors-img-container img{
    width: 165px;
}

/* responsive style */
/* mobile devices */
@media screen and (max-width: 567px) {
    header{
        padding: 20px;
    }
    nav, 
    .team-container,
    .fact-card-container,
    .sponsors-img-container{
        flex-direction: column;
    }
    .team-img-cotainer{
        grid-template-columns: 1fr;
    }
    .team-content{
        padding-right: 20px;
        padding-left: 20px;
    }
    .fact-card-container{
        padding: 20px;
        gap: 10px;
    }
}
/* pad devices */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav,
    .team-container{
        flex-direction: column;
    }
}